@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');

$main: #431eb5;

#root {
    overflow-x: hidden;
}

html {

    body {
        background: linear-gradient(119deg, #beceddad, #dee2e6);

        .h1 {
            font-family: 'Edu VIC WA NT Beginner', cursive;
        }

        .myBtn {
            padding: 17px 45px;
            border-radius: 7px;
            color: #000;
            font-weight: 600;
            text-transform: uppercase;
            border: 4px solid $main;
            transition: all .2s ease-in-out;
            font-size: 19px;
            margin-left: auto;
            display: block;
            margin-top: 35px;

            &:hover {
                background-color: $main;
                color: #fff;
            }
        }

        img {
            user-select: none;
        }

        a,
        b {
            font-weight: 600 !important;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            color: $main;
        }

        .Navbar {
            background-color: #efefef;
            padding: 30px 0;
            box-shadow: 0 0 10px silver;

            .userImg {
                width: 50px;
                height: 50px;
                margin: 0 20px 0 100px;
                cursor: pointer;

                img {
                    width: 100%;
                    border-radius: 50%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h1 {

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: $main;
                    letter-spacing: -1px;
                }
            }

            .ulWrap {
                display: flex;
                align-items: center;
                justify-content: end;

                a {
                    margin-right: 30px;
                }
            }
        }

        .News {
            padding: 50px 0;

            .cards {
                transition: all .5s ease-in-out;

                .cardsBody {
                    text-decoration: none;
                    color: #000;
                }

                .img {
                    overflow: hidden;

                    img {
                        transition: all .5s ease;
                        border-radius: 10px;
                    }
                }

                a {
                    text-decoration: none;
                }

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                &:hover {

                    .img {

                        img {
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }

        .PostId {
            padding: 50px 0;

            .h6 {
                height: 100px;
                background: transparent;
                border: none;
                border-bottom: 1px solid silver;
                box-shadow: none;
                font-size: 1rem;
                font-weight: 600;
            }

            .h2 {
                font-size: 33px;
                background: transparent;
                border: none;
                border-bottom: 1px solid silver;
                box-shadow: none;
                font-weight: 600;
                text-align: center;
            }

            .img {
                width: 100%;
                height: 400px;
                margin-bottom: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                font-size: 35px;
                width: 90%;
                text-align: center;
            }
        }

        .Category {
            padding: 20px 30px;

            .sidebar {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 12px;

                a {
                    color: $main;
                    font-size: 18px;
                    margin-top: 11px;
                    font-weight: 600;
                    text-decoration: none;
                }
            }

            h1,
            h3 {
                font-size: 30px;
                border: 4px solid #7c7c7c;
                border-right: none;
                border-left: none;
                text-align: center;
                padding: 10px 0;
                font-size: 27px;
                color: #565656;
                text-transform: uppercase;
            }

            .img {
                height: 300px;
                margin: 20px 0;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }

            h2 {
                font-size: 18px;
                font-weight: 500;
            }

            h3 {
                margin-top: 20px;
            }
        }

        .Register {
            padding: 100px 0;

            h1 {
                color: $main;
            }

            form {
                width: 70%;
                margin: 40px auto;
                border: 3px solid #fff;
                border-radius: 17px;
                padding: 70px 55px;
                backdrop-filter: blur(100px);

                h6 {
                    color: #ff1b1b;
                    text-align: center;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }

                .btn {
                    padding: 17px 45px;
                    border-radius: 7px;
                    color: #000;
                    font-weight: 600;
                    text-transform: uppercase;
                    border: 4px solid $main;
                    transition: all .2s ease-in-out;
                    font-size: 19px;
                    margin-left: auto;
                    display: block;
                    margin-top: 35px;

                    &:hover {
                        background-color: $main;
                        color: #fff;
                    }
                }

                label {
                    font-size: 20px;
                    color: #333;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .form-control {
                    font-size: 18px;
                    color: #000;
                    padding: 10px 20px;
                    border-radius: 7px;
                    margin-bottom: 20px;
                    font-weight: 600;
                }

                @media(max-width: 992px) {
                    width: 100%;
                }
            }
        }

        .Write {
            padding: 50px 0;

            form {

                label {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    border: 2px dashed silver;
                    align-items: center;
                    justify-content: center;
                    font-size: 28px;
                    font-weight: 600;
                    color: silver;
                    margin: auto;
                    margin-bottom: 30px;
                    cursor: pointer;
                }

                .title {
                    font-size: 38px;
                    font-weight: 600;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid silver;
                    margin-bottom: 30px;
                    color: #000;
                }

                .form-control {
                    box-shadow: none;

                    &:focus {
                        box-shadow: 0 2px 10px #441eb52a;
                    }
                }

                .story {
                    background: transparent;
                    border: 1px solid silver;
                    font-size: 20px;
                    color: #444;
                }
            }
        }

        .Profile {
            padding: 50px 0;

            .img {
                width: 150px;
                height: 150px;
                border-radius: 25%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 25%;
                }
            }

            .plus {
                cursor: pointer;
                width: 50px;
                height: 50px;
                margin-left: 20px;
                border: 1px dashed silver;
                display: flex;
                align-items: center;
                justify-content: center;
                color: silver;
                border-radius: 15%;
            }

            h1 {
                text-align: center;
                margin-bottom: 20px;
            }

            .form-control {
                font-size: 18px;
                font-weight: 600;
                background: transparent;
                border: none;
                border-bottom: 1px solid silver;
                border-radius: 0;
            }

            form {
                border: 1px solid #fff;
                padding: 30px 60px;
                border-radius: 13px;
                background: transparent;
                backdrop-filter: blur(20px);
                box-shadow: 0 0 10px silver;
            }

            label {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                margin-top: 20px;
            }
        }
    }
}