html {

    body {


        .Navbar {
            background-color: #efefef;
            padding: 30px 0;
            box-shadow: 0 0 10px silver;

            .ulWrap {
                display: flex;
                align-items: center;
                justify-content: end;

                a {
                    margin-right: 30px;
                }
            }
        }
    }
}